@media screen and (max-width: 1080px){
    .header-mobile-view{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
  
    .header-mobile-view .navbar{
      width: auto;
      position: relative;
    }
  
  }